
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap');


*{
  margin: o;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #D9F9FF;

}
.centering{
 /* text-align: center; */
}

input{
  
    font-weight: 600;
    font-size: 5rem;
    position: fixed;
    display: block;
    top: 0rem;
    left: 0rem;
    right: 0rem;
    width: auto;
    height: 150px;
    max-width: 100%;
    box-sizing: border-box;
    padding: 1.75rem 2rem 1.75rem 2.25rem;
    margin: 2rem 15rem 0 2rem;
    border: none;
    outline: none;
    color: #00d9ff;
    border-radius: 1rem;
    border: .5rem solid #ffffff;
}

button{
   cursor: pointer;
    position: fixed;
    top: 0rem;
    right: 0rem;
    width: 12rem;
    height: 150px;
    border: none;
    box-sizing: border-box;
    text-align: center;
    font-size: 5rem;
    background-color: #00d9ff;
    background-size: 6rem;
    background-position: center center;
    background-image: url('./image/emojifinder_logo_color.svg');
    background-repeat: no-repeat;
    color: white;
    padding: 1.5rem 2rem 2rem 2.5rem;
    margin: 2rem 2rem 0 2rem;
    border-radius: 1rem;
    transition:.1s ease-in-out;
     border: 1px solid #00b8e5;
}

button:hover{
 font-size: 5rem;
 background-color: #00b8e5;
 background-size: 100px;
 cursor: pointer;
}

  
input::placeholder{
  color: #48d5ee;
  opacity: 0.2 ;
  font-size: 80px;
}

input:focus{
  border-color: #00d9ff;
}

.Search{
  display: flex;
  vertical-align: baseline;
  justify-content: center;
  margin-top: 30px;

}


.text-space{
  color: #002126;
    font-size: 2rem;
    /* width: auto; */
    padding: 5rem 1rem;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    font-weight: 550;
  
  
}

.bottom{
  /* position: fixed; */
  /* bottom: 0px;
  left: 0px; */
  /* padding: 0rem 2rem 2rem 2rem ; */
  font-size: 1rem;
  /* margin-bottom: 10px; */
  font-weight: 600;
  text-decoration-line: none;
}

.bottom-down{
  /* position: absolute; */
  /* padding: 0rem 2rem 2rem 2rem ; */
  font-size: 1rem;
  font-weight: 600;
  }

  .emojis-space{
    top: 200px;
    position: relative;
    display: flex;
   justify-content: center;
   align-items: center;
   height: 150px;
   font-size: 5rem;
   margin-bottom: 70px;
   animation: bringUp 1s ease forwards;
   }


   @keyframes bringUp {
    from {
      opacity: 0;
      transform: translateY(100px);
    }
      to {
        opacity: 1;
        transform: translateY(0); 
      }
    }
 .bottom-down a{
  text-decoration: none;
 }

 .bottom a{
  text-decoration: none;
 }

 .bottom-down a:hover{
  color: black;
 }

 .bottom a:hover{
  color: black;
 }

 .text-space a:hover{
  color: black;
 }

 .colors-gender{
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
  display: inline-block;


 }

 .aligning{
  justify-content: space-between;
  display:inline-block
 }

 .colors{
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 50%;
  margin-left: 2px;
  
 }

 #color-0{
  background-color: #FFCF43 ;
 }

 #color-1{
  background-color: #F9DCBE;
 }
 #color-2{
  background-color: #DFBB97;
 }
 #color-3{
  background-color: #BE8F6B;
 }
 #color-4{
  background-color: #9A6440;
 }
 #color-5{
  background-color: #59453A;
 }
 #color-6{
  background-color: #00d9ff;
  
 }
 .gender-chose{
  background-image: url('./image/men-line.svg');
  background-color: #002126;
  font-size: 30px;
  
  
 }

 a{
  color: #00b8e5;
 }
 





 @media (max-width: 768px){
  .text-space{
    padding: 0rem 2rem 2rem 2rem;
    text-align: center;
    width: auto;
    font-size: 1.5rem
  
    
    
  }

  .Search{
    margin: 1rem 6.5rem 0 1rem;
    font-size: 2rem;
    padding: 1rem;
    height: 70px;
    margin-bottom: 50px;
    
      }

      input#searchs{
        position: fixed;
        display: block;
        top: 0rem;
        left: 0rem;
        right: 0rem;
        width: 530px;
        height: 70px;
        box-sizing: border-box;
   
      }

      input::placeholder{
        font-size: 2rem;
        padding: 16px;
        margin: 16px 16px 0px;
    
      }

      button{
        width: 80px;
        height: 70px;
        background-size: 40px;
        position: absolute;
  


        
      }


      button:hover{
        background-size: 45px ;
      }

      .Search{
        margin: 1rem 6.5rem 0 1rem;
        font-size: 2rem;
        padding: 1rem;
        height: 70px
      }

      input{
        font-size: 2rem;
       
        
      }

      input:focus{
        border-color: #00d9ff;
      }

      .little-Name{
        position: relative;
        height: 10px;
        margin-top: 180px;
   }

   .colors-gender{
    
        /* height: 10px; */
       margin-top: 160px; 
        position: absolute;
   }

   .emojis-space{
    display: flex;
   justify-content: center;
   align-items: center;
   height: 0px;
   font-size: 5rem;
   margin-top: 50px;
   animation: bringUp 1s ease forwards;
   }

      }
      
  

 